.heading {
    font-size: var(--chakra-fontSizes-2xl);
    font-family: GTBold, sans-serif;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .link {
    font-style: italic;
    line-height: 2;
  }