.wrapper {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 768px) {
        display: none;
      }
    a {
      padding: 0 0.5rem;
      text-align: center;
    }
}