.wrapper {
    @media (max-width: 768px) {
      display: none;
    }
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    @media (min-width: 992px) {
      width: 50%;
    }
    a {
      padding: 0 0.5rem;
      text-align: center;
    }
}