.wrapper {
    color: var(--chakra-colors-black);
    // padding: var(--chakra-space-xl)
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media (min-width: 768px) {
    .wrapper {
      flex-direction:row-reverse;
    }
  }
  
  .content {
    flex-basis: 50%;
    @media (min-width: 768px) {
      margin-left: 3rem;
    }
  }
  
  .top {
    font-family: Montserrat;
    font-weight: 400;
    font-size: var(--chakra-fontSizes-lg);
    &::before {
      display: inline-block;
      content: "";
      border-top: 0.25rem solid var(--chakra-colors-black);
      width: 3rem;
      transform: translateY(-0.2rem);
      margin-right: var(--chakra-space-sm);
    }
  }
  
  .text {
    font-family: Hind;
    font-weight: 300;
  }
  
  .heading {
    font-size: var(--chakra-fontSizes-3xl);
    font-family: Montserrat;
    font-weight: 600;
    line-height: 1.3;
  }
  
  .imageWrapper {
    margin-top: 2rem;
    height: 350px;
    width: 350px;
    max-width: 80vw;
    max-height: 80vw;
    flex-shrink: 0;
  }

  section.lighter {
    margin-top: 2rem;
    padding: 2rem 3rem;
    background-color: white;
  }

  .paragraphLeft, .paragraphRight {
    @media (min-width: 992px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--chakra-space-xl);
      align-items: center;
    }
  }

  .paragraphRight {
    p {
        order: 2
    }
    .paragraphImage {
        order: 1;
    }
}

.paragraphTop {
    font-family: Montserrat;
    font-weight: 400;
    font-size: var(--chakra-fontSizes-lg);
    &::before {
      display: inline-block;
      content: "";
      border-top: 0.2rem solid var(--chakra-colors-black);
      width: 1.5rem;
      transform: translateY(-0.2rem);

      margin-right: var(--chakra-space-sm);
    }
}

.paragraphImage {
    img {
    }

    @media (min-width: 768px) and (max-width: 992px) {
        width: 70%;
        margin: 2rem auto 0;
    }
}
