.blog {
    width: 100%;
    min-height: calc(100vh - 3.5rem);
    padding: 2rem 10%;
    font-size: 1.2rem;

    @media (min-width: 768px) {
        width: 80%;
      }

    p, code {
        font-size: var(--chakra-fontSizes-md);
    }

    h2 {
        font-size: var(--chakra-fontSizes-xl);
        font-weight: 600;
        font-family: GTBold, sans-serif;
    }
}

.retrunlink {
    font-size: var(--chakra-fontSizes-sm);
    color: var(--chakra-colors-gray-500);
}

.blogHeading {
    font-size: var(--chakra-fontSizes-3xl);
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: GTBold, sans-serif;
}