@font-face {
  font-family: 'Hind';
  src: url("../assets/Hind/Hind-Bold.ttf");
  src: url("../assets/Hind/Hind-Light.ttf");
  src: url("../assets/Hind/Hind-Medium.ttf");
  src: url("../assets/Hind/Hind-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
  src: url("../assets/Montserrat/Montserrat-VariableFont_wght.ttf");
  font-style: normal;
}

@font-face {
  font-family: 'GTBold';
  src: url("../assets/GT-font/GT-Walsheim-Bold.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Rowdies";
  src: url("../assets/Rowdies-font/Rowdies-Bold.ttf");
  src: url("../assets/Rowdies-font/Rowdies-Light.ttf");
  src: url("../assets/Rowdies-font/Rowdies-Regular.ttf");
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Hind, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: #f4f0eb; */
}

a {
  color: inherit;
  text-decoration: none;
}

*,
html,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Hind;
}


.profile-image {
  /* background-image: url('../../public/img/Blob_Image.png'); */
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size:contain;
}

.aboutme-image {
  background-image: url('../../public/img/about-me.webp');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size:contain;
}

.linkUnderline {
  background-image: linear-gradient(0deg,rgba(180,170,255,.4) 0,rgba(180,170,255,.4) 30%,transparent 40%,transparent);
  border-bottom: none;
}

.linkUnderline:hover {
    background-image: linear-gradient(0deg,#b4aaff 0,#b4aaff 30%,transparent 0,transparent);
}

.u-no-decoration,
.u-no-decoration:hover,
.u-no-decoration:active,
.u-no-decoration:link,
.u-no-decoration:visited {
  text-decoration: none;
}

/*  full height minus header (3.5rem), footer, and layout top and bottom padding (2*1.5) */
.u-full-height {
  min-height: calc(100vh - 14.5rem); 

  @media (min-width: 768px) {
    min-height: calc(100vh - 11rem); 
  }
}

.u-card-shadow {
   transition: box-shadow .2s;
   cursor: pointer;
}

.u-card-shadow:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

html[data-theme='dark'] .u-card-shadow:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);  
}

.u-arrowlink {
  font-style: italic;
  line-height: 2;
  color: var(--chakra-colors-lila-300);
}
.u-arrowlink:hover {
  color: var(--chakra-colors-lila-500)
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
