@font-face {
  font-family: 'Hind';
  src: url("../assets/Hind/Hind-Bold.ttf");
  src: url("../assets/Hind/Hind-Light.ttf");
  src: url("../assets/Hind/Hind-Medium.ttf");
  src: url("../assets/Hind/Hind-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
  src: url("../assets/Montserrat/Montserrat-VariableFont_wght.ttf");
  font-style: normal;
}

@font-face {
  font-family: 'GTBold';
  src: url("../assets/GT-font/GT-Walsheim-Bold.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Rowdies";
  src: url("../assets/Rowdies-font/Rowdies-Bold.ttf");
  src: url("../assets/Rowdies-font/Rowdies-Light.ttf");
  src: url("../assets/Rowdies-font/Rowdies-Regular.ttf");
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Hind, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: #f4f0eb; */
}

a {
  color: inherit;
  text-decoration: none;
}

*,
html,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Hind;
}


.profile-image {
  background-image: url('../../public/img/Blob_Image.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size:contain;
}

.aboutme-image {
  background-image: url('../../public/img/about-me.webp');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size:contain;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
