/* @media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */

.container {
  padding: 0 1rem;
}

.photo {
  span {
    border: 3px solid pink;
  }
}
