.mdx {
    width: 100%;
    min-height: calc(100vh - 3.5rem);
    padding: 2rem 7%;
    font-size: 1.2rem;

    @media (min-width: 768px) {
        width: 80%;
      }

    pre {
        border-radius: 0.25rem;
    }

    p, code {
        font-size: var(--chakra-fontSizes-md);
    }

    p > code {
        padding: 0.2rem 0.4rem;
        font-size: 90%;
        color: var(--chakra-colors-darkPurple);
        background-color: var(--chakra-colors-gray-300);
        border-radius: 0.25rem;
    }
    

    h2 {
        font-weight: 600;
        font-family: GTBold, sans-serif;
        border: 2px solid var(pinkish);
    }
}

.retrunlink {
    font-size: var(--chakra-fontSizes-sm);
    color: var(--chakra-colors-gray-500);
}

html[data-theme='dark'] {
    .mdx p > code {
        padding: 0.2rem 0.4rem;
        font-size: 90%;
        background-color: var(--chakra-colors-lila-800);
        color: var(--chakra-colors-gray-200);
        border-radius: 0.25rem;
    }

    .retrunlink {
        color: var(--chakra-colors-gray-400);
    }
}

