.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--chakra-space-lg) 7%;
    min-height: calc(100vh - 4.5rem - 12.5rem);

    @media (min-width: 768px) {
        min-height: calc(100vh - 4.5rem - 7.5rem);
    }
}

.wrapper section {
    padding: 2rem 0;
}

.wrapper > * {
    max-width: 1000px;
    
}