.wrapper {
  color: var(--chakra-colors-black);
  background-color: var(--chakra-colors-gray-200);
  padding: var(--chakra-space-lg) var(--chakra-space-xl)
}
  
.heading {
  font-size: var(--chakra-fontSizes-xl);
  font-family: Montserrat;
  font-weight: 600;
}