.wrapper {
    color: #202020;
}
    
.heading {
  font-size: var(--chakra-fontSizes-2xl);
  font-family: Montserrat;
  font-weight: 600;
}

.thumbs {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--chakra-space-md);

  img {
    border: 3px solid var(--chakra-colors-gray-300);
  }

}

@media (min-width: 768px) {
  .thumbs {
   flex-direction: row;
   justify-content: center;
  }
}