.wrapper {
    color: #202020;
}
    
.heading {
  font-size: var(--chakra-fontSizes-xl);
  font-family: Montserrat;
  font-weight: 600;
}

.thumbs {
  display: grid;
  justify-items: center;
  gap: var(--chakra-space-md);

  img {
    border: 3px solid var(--chakra-colors-gray-300);
  }
}