.wrapper {
    @media (min-width: 768px) {
        display: none;
      }
}

.drawerBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  button {
    width: 2rem;
    align-self: end;
  }
}

.content {
    display: flex;
    flex-direction: column;
    a {
        display: block;
        font-size: var(--chakra-fontSizes-lg);
        margin-bottom: var(--chakra-space-sm);
    }
}

.isActive {
  font-weight: 600;
  transition: all 0.1s;
}