.drawerButton {
    padding: 0.5rem 0.2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    border-radius: 0.2rem;

    &:hover {
        background: rgba(0,0,0,0.06);
    }
}

.toggler {
    width: 2rem;
    height: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: none;
    z-index: 20;
}

.toggler > div {
    background-color: var(--chakra-colors-black);
    position: relative;
    top: 0;
    left: 0;
    height: 2px;
    border-radius: 20px;
    width: 60%;
    transition: all  0.4s ease;
}

.toggler > div::before,
.toggler > div::after{
    content: '';
    background-color: var(--chakra-colors-black);
    position: absolute;
    display: block;
    top: -7px;
    width: 100%;
    height: 2px;
    border-radius: 20px;
    transition: all  0.4s ease;
}

.toggler > div::after{
    top: 7px;
}