.wrapper {
  display: grid;
  place-items: center;
  background: var(--chakra-colors-chakra-body-bg);


  position: sticky;
  top: 0;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--chakra-space-md);
  width: 100%;
}

@media (min-width: 1000px) {
  .header {
    width: 1000px;
  }
}

.name, .popColor {
  font-family: 'Rowdies';
  font-size: 1.5rem;
}

.popColor {
  color: var(--chakra-colors-lila-400);
}
