.wrapper {
  display: grid;
  place-items: center;


  position: sticky;
  top: 0;
  z-index: 10;

  background-color: var(--chakra-colors-lightBackground);
  border-bottom: 0.5px solid var(--chakra-colors-gray-300);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--chakra-space-md);
  width: 100%;
}

@media (min-width: 1000px) {
  .header {
    width: 1000px;
  }
}
