.wrapper {
    // color: #202020;
    padding: 2rem;
}

.subtitle {
    text-transform: uppercase;
    font-size: 0.7rem;
}

.linkButton {
    width: 50%;
    color: white;
    background-color: #28406D;
    border: none;
    padding: 0.5rem 1rem;

    &:hover {
        background-color: #142545;
    }
}